* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem ;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Homepage,
.Shoppage {
    display: flex;
    flex: 1;
    background-color: #EED6D3;
}

.Homepage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 10vh 0 10vh;
}

.Homepage a{
    color: #67595E;
}

.Homepage h2,
.Homepage div{
    justify-content: center;
    text-align: center;
}

.navbar,
.navbar a{
    color: white;
}

.navbar {
    background-color: #A49393;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}