* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem ;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Homepage,
.Shoppage {
    display: flex;
    flex: 1;
}

.Homepage,
.Shoppage {
    background-color: #EED6D3;
}

.navbar,
.navbar a{
    color: white;
}

.navbar {
    background-color: #A49393;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}