* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Homepage {
    display: flex;
    flex: 9;
    background-color: red;
}

.navbar {
    background-color: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.Shoppage {
    background-color: blanchedalmond;
    flex: 1;
}